@import "./src/variables";
@import "./src/placeholders";

.footer {
    width: 100%;
    min-height: 150px;
    background-image: url("../../assets/images/background.png");
    padding: 1rem 0;
    background-color: $blue-color;
    @extend %center;

    @extend %background-configurations;

    @extend %center;

    .footer__content {
        $break: 1000px;

        display: flex;
        align-items: center;
        justify-content: space-around;
        color: $white-color;

        @media(max-width: $break) {
            flex-direction: column;
        }

        .footer__text {
            max-width: 300px;
            font-size: .85rem;
            text-align: center;
            line-height: 1.35;
        }

        > * {
            margin: 0 2rem;

            @media(max-width: $break) {
                margin: 1.5rem 0;

                &.footer__text {
                    order: 3;
                }
            }
        }

        .footer__list {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .footer__item {
                list-style: none;
                transition: opacity $time-transition;

                &:not(:last-child) {
                    margin-right: 1rem;
                }

                &:hover {
                    opacity: .75;
                }

                .footer__item-image {
                    width: 40px;
                }

                .footer__item-text {
                    @extend %hide-text
                }
            }
        }
    }
}
