<div class="jobs">
    <app-content title="Jobs" id="jobs" subTitle="Identidade visual" classes="jobs__content">
        <section class="jobs__container">
            <ul class="jobs__grid">
                <li class="jobs__grid-item"
                    *ngFor="let item of list"
                    [ngStyle]="{'background-image': 'url(' + item.src + ')'}">
                    <a class="jobs__grid-item-link"
                       target="_blank"
                       [routerLink]="item.href">
                        <h4 class="jobs__grid-item-text">{{ item.text }}</h4>
                    </a>
                </li>
            </ul>
        </section>
    </app-content>
    <section class="jobs__images">
        <div class="root__content root__content--main jobs__images__content">
            <h4 class="jobs__title">
                Criação de artes para <br>
                <span class="jobs__title--mark">redes sociais</span>
            </h4>
            <ul class="jobs__list">
                <li class="jobs__list-item"
                    *ngFor="let item of arts"
                    [ngStyle]="{'background-image': 'url(' + item.src + ')'}">
                    <a class="jobs__list-item-link"
                       target="_blank"
                       [routerLink]="item.href">
                        <h4 class="jobs__list-item-text">{{ item.text }}</h4>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="jobs__images jobs__images--border">
        <div class="root__content root__content--main jobs__images__content jobs__images__content--reverse">
            <div class="jobs__treatment-container">
                <div class="jobs__image jobs__image--first"
                     aria-label="Imagem da modelo antes do tratamento de imagem"
                     [ngStyle]="{'background-image': 'url(./assets/images/model-before.jpg)'}">
                </div>
                <div class="jobs__image jobs__image--second"
                     aria-label="Imagem da modelo depois do tratamento de imagem"
                     [ngStyle]="{'background-image': 'url(./assets/images/model-after.jpg)'}">
                </div>
            </div>
            <h4 class="jobs__title">
                Tratamento de <br>
                <span class="jobs__title--mark">imagens</span>
            </h4>
        </div>
    </section>
</div>
