<section class="introduction">
    <div class="introduction__content root__content">
        <app-brand [large]="true"></app-brand>
        <p class="introduction__text">It is a long established fact that a reader.</p>
        <app-button [href]="''" target="_self">Orçamento</app-button>
        <a routerLink="" target="_self" class="introduction__arrow">
<!--            <span>Avançar para conteúdo abaixo</span>-->
            <img class="introduction__arrow-image" src="./assets/images/arrow.png" alt="Seta para avançar para conteúdo abaixo">
        </a>
    </div>
</section>
