@import "./src/variables";
@import "./src/placeholders";

.introduction{
    border-bottom: $border;
    padding: 2rem 0;
    background-image: url("../../../assets/images/background.png");
    background-color: $blue-color;

    @extend %background-configurations;

    .introduction__content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 550px;
        position: relative;

        .introduction__text{
            color: $white-color;
            text-align: center;
        }

        > *:not(:first-child){
            margin: 2rem 0 0 0;
        }

        .introduction__arrow{
            position: absolute;
            bottom: 0;
            display: flex;
            margin: 0;

            @keyframes moving{
                from{
                    bottom: 10px;
                }

                to{
                    bottom: 0;
                }
            }

            .introduction__arrow-text{
                @extend %hide-text;
            }

            .introduction__arrow-image{
                height: 50px;
                position: relative;

                animation: moving infinite alternate .85s;
            }
        }
    }
}
