<section class="introduction" id="home">
    <div class="introduction__content root__content">
        <app-brand [large]="true"></app-brand>
        <p class="introduction__text">It is a long established fact that a reader.</p>
        <app-button href="https://api.whatsapp.com/send?phone=5547999127873&text=Ol%C3%A1%2C%20gostaria%20de%20fazer%20um%20or%C3%A7amento." target="_blank">Orçamento</app-button>
        <a rel="noopener" href="#sobre" target="_self" class="introduction__arrow">
            <span class="introduction__arrow-text">Avançar para conteúdo abaixo</span>
            <img aria-hidden="true" class="introduction__arrow-image" src="./assets/images/arrow.png" alt="Seta para avançar para conteúdo abaixo">
        </a>
    </div>
</section>
