<app-content title="Serviços" [dark]="true" id="servicos" class="services">
    <div>
        <h3 class="services__title">Identidade visual</h3>
        <p>
            Através da história e personalidade do cliente ocorre a criação
            da identidade visual que vai além de uma simples logo para a essência do negócio.
        </p>
    </div>
    <div>
        <h3 class="services__title">Design para redes sociais</h3>
        <p>
            Uma ótima criação de design para redes sociais faz com que a marca
            do contratante transmita a qualidade, a confiança e o destaque que o empreendimento demanda.
        </p>
    </div>
    <div>
        <h3 class="services__title">Edição de imagens</h3>
        <p>
            Edições em geral, principalmente para produtos e serviços, de uma forma criativa e
            profissional seguindo as necessidades dos consumidores.
        </p>
    </div>
</app-content>
