@import "./src/variables";

.link{
    text-decoration: none;
    font-family: inherit;
    font-weight: 500;
    color: $white-color;
    transition: color $time-transition;
    font-size: inherit;

    &:hover{
        color: $primary-color;
    }
}
