@import "./src/variables";

.button{
    background-color: transparent;
    border: $border;
    display: flex;
    border-radius: 35px;
    text-align: center;
    text-decoration: none;
    color: $primary-color;
    align-items: center;
    justify-content: center;
    padding: .75rem 2.2rem;
    font-size: 1.15rem;
    transition: color $time-transition, background-color $time-transition;
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    text-transform: uppercase;

    &:hover{
        color: $blue-color;
        background-color: $primary-color;
    }
}
