<header class="navigation">
    <div class="nabigation__content root__content">
        <a rel="noopener" routerLink="/" target="_self">
            <img class="navigation__logo" [src]="appService.logo.src" [alt]="appService.logo.alt">
        </a>
        <nav>
            <ul class="navigation__list">
                <li *ngFor="let link of links" class="navigation__item">
                    <app-link [href]="link.href" [text]="link.text" [target]="link.target"></app-link>
                </li>
            </ul>
        </nav>
    </div>
</header>
