@import "./src/variables";

.navigation{
    background-color: $blue-color;
    border-bottom: $border;
    padding: 1rem 0;

    .nabigation__content{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navigation__logo{
            width: 37.5px;
        }

        .navigation__list{
            display: flex;
            align-items: center;
            flex-direction: row;
            padding: 0;
            margin: 0;

            .navigation__item{
                text-transform: uppercase;
                font-size: 1rem;
                font-family: 'Teko', sans-serif;
                line-height: 1;
                list-style: none;

                &:not(:last-child){
                    margin-right: 1rem;
                }
            }
        }
    }
}
