@import "./src/variables";

.brand{
    display: flex;
    align-items: center;
    height: 75px;
    color: $white-color;

    &.brand--large{
        @mixin brand-size($height, $font-size, $margin-top){
            height: $height;

            .brand__text{
                font-size: $font-size;
                margin-top: $margin-top;
            }
        }

        @include brand-size(120px, 56px, 16px);

        @media(max-width: $mobile-width){
            @include brand-size(100px, 46px, 12px);
        }
    }

    .brand__image{
        height: inherit;
    }

    .brand__text{
        font-size: 34px;
        line-height: 1;
        font-family: "Teko", sans-serif;
        font-weight: 500;
        margin: 10px 0 0 12px;
    }
}
