@import "./normalize";
@import "./variables";

/*
    font-family: 'Montserrat', sans-serif; font-weight: 500/400;
    font-family: 'Teko', sans-serif; font-weight: 500;
*/

html, body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $blue-color;
    background-color: $white-color;
    margin: 0;
    padding: 0;
    font-size: 16px;

    @media(max-width: $tablet-width){
        font-size: 14px;
    }
}

body{
    max-width: $desktop-width;
}

.no-script{
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    text-align: center;
    // font-family: 'Menlo', monospace;
    font-weight: 400;
    margin: 0;
}

*{
    $selection-color: lighten($primary-color, 12%);

    &::selection{
        color: $white-color;
        background-color: $selection-color;
    }

    outline-color: $selection-color;
}
