<app-content title="Sobre" id="sobre" class="about">
    <p class="about__text">
        A Lenóra Vitorino, ela é de Santa Catarina. Entrou para o mundo design
        em 2019, fez alguns cursos com softwares de edição. No ano de 2020,
        acabou finalizando design gráfico e no termino foi contratada para trabalhar
        na área, também no mesmo ano iniciou seu trabalho de freelancer e realizou
        os primeiros projetos dela. Procura sempre evoluir suas técnicas e ser uma
        designer de destaque no mercado.
    </p>
</app-content>
